# http://EditorConfig.org

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.sln]
indent_style = tab
end_of_line = crlf
insert_final_newline = false

[*.{csproj,json,yml}]
indent_size = 2
